.Rproj.user
.Rhistory
.RData
.Ruserdata
RepData_PeerAssessment1.Rproj
Coding Standards.pdf
Concepts and Ideas.pdf
Knitr intro.pdf
Organizing analysis.pdf
Structure of Analysis pt2.pdf
Structure of Analysis.pdf
plot6.png
